@mixin skew(){
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: bottom left;
    transform: skewY(3deg);
}
@mixin compName(){
    position:relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;
    font-weight: bold;
    color: black !important;
    top:30%;
    margin-left: 20%;
}
@mixin compName-under(){
    position:relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;
    font-weight: bold;
    color: black !important;
    top:27%;
    margin-left: 25%;
}
@mixin portraits(){
    background-size: cover;
    border-radius: 200px;
    height: 390px;
}

@mixin transform() {
    transform:scale(1.2, 1.2);
}

@mixin snowdoja() {
    background-repeat:no-repeat;
    background-size:427px 240px;
}

@mixin stick() {
    display:none;
}
